
/* ESTILOS DEL MENU SUPERIOR */
.links_menu {
    color: #0341ec;
}
.links_menu:hover {
    color: #FF7400;
    border-bottom: 1px solid;
}

/* ESTILO DEL FOOTER */
.enlaces {
    text-decoration: none;
}
.enlaces:hover {
    text-decoration: underline;
}

/* ESTILOS DEL LOGIN */
.contendor_total {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* ESTILOS PARA LAS TARJETAS DE LAS MARCAS */
.img-card-marca {
    height: 280px !important;
}
@media screen and (max-width:800px){
    .img-card-marca {
        height: 150px !important;
    }
}
